# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/derby.log
*.orig

# Maven (se usar)
/target/
/dependency-reduced-pom.xml

# Gradle (se usar)
.gradle/
/build/

# VS Code (opcional)
.settings/
.vscode/
bin/